.*
_*
/logs
/ckpts
/images
/datasets
*egg-info*
!.gitattributes
!.gitignore
!.gitmodules
!__init__.py
!.pre-commit*
*.pt
*.pth
*.safetensors
*.json
/Optimized_Based/evaluation_results
/Optimized_Based/results_visualizations
/Optimized_Based/ckpts
/Optimized_Based/logs
/Optimized_Based/debugs
*.txt
output/
